*{
    margin: 0;
    padding: 0;
}
#navbar{
   position: relative;
   display: flex;
   align-items: center;
   height: 46px;
    
}
#navbar::before{
    content:'';
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.9;
}
#logo{
    margin: 8px 8px;
    

}
#logo img{
    height: 30px;
    margin: 6px 8px;
    width: 65px;
    position:relative;
    top:3px;
    
    
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
   
}
#navbar ul li a{
    text-decoration: none;
    padding: 3px 18px;
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top:4px;
    
}

#navbar ul li a:hover{
    color:goldenrod;
    font-size: 1.1rem;
    font-family: 'Baloo Bhai 2', cursive;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 13px 200px;
    align-items: center;
    justify-content: center;
    font-family: 'Besley', serif;
font-family: 'Noto Sans JP', sans-serif;
height: 288px;
position: relative;
    
}
#home::before{
    content:'';
    background:url(bg1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .90;
    height: 500px;
    
}
.h-primary{
    font-size: 1.8rem;
    padding: 12px;
    color:white;
    text-align: center;
    margin-top: 100px;
    
}
#home p{
    color: white;
    text-align: center;
    font-weight: bold;
}
.btnnn{
    margin: 15px;
    padding: 3px 7px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(172, 62, 62);
    cursor: pointer;
}
.center{
    text-align: center;
}

.h-secondary center{
    font-size: 1.8rem;
    padding: 12px;
}
/* .services-container>.h-primary center{
    font-size: 1.8rem;
    padding: 12px;
    color: black; */
    



#services{
    display: flex;
    margin:10px;
    
    

}
#services .box{
    border:2px solid brown;
    padding: 15px;
    margin:0 8px;
    border-radius: 18px;
    background-color:rgb(233, 231, 231);
    height: 310px;
    width: 400px;
    font-family: 'Baloo Bhai 2', cursive;
    
}
#services .box img{
    display: block;
    margin: auto;
    height: 180px;
    border-radius: 5px;

}
#services .box h2{
    letter-spacing: 1.9;
    word-spacing: 2;

}
#services .box p{
    font-size: 0.8em;
    
    text-align: justify;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
}
body{
    background-color:whitesmoke;
}
#client-section{
    height: 370px;
    position:relative;
    margin-top: -6%;
    
   
}

.client-item img{
    height: 119px;
    border-radius: 8px;

}
.client-item{
    padding: 34px;


    

}
/* #client-section::before{
    content: "";
    position: absolute;
    width:100%;
    height: 70%;
    z-index:-1;
    opacity: 0.4;
    
} */
#client-section::before{
    background: url('bg2.webp') repeat-x center center/cover;
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    z-index:-1;
    opacity: 0.6;
   
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}


#contact-section{
    position:relative;
    margin-top: -6%;
    height: 450px;
}
#contact-section::before{
    background: url('contact.png') no-repeat center center/cover;
    content: "";
    position: absolute;
    z-index:-1;
    opacity: .89;
    width:100%;
    height: 100%;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    
}
#contact-box input,#contact-box textarea{
    width: 100%;
    border-radius: 9px;
    border-color: gray;
    padding-left:3%;


} 
#contact-box form{
    width:50%;
}
#contact-box label{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
footer{
    background: black;
    color:white;
    padding:1px 20px;
    font-size: 0.8rem;

}
